{% extends "layout.html" %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1>Learn how to sign</h1>
    </div>
</header>
<div class="container">
  {% for letter in letters %}
  <div class="row">
    <div class="col">
     <img  src="{{ url_for('static', filename='/asl_letters/' + letter[2]) }}" >
    </div>
    <div class="col">
      {{ letter[3] }}
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}